<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Hotéis Manager</title>
</head>

<body>
  <form id="edit_hotel">
    <input id="name" name="name" type="text" placeholder="Nome...">
    <input id="city" name="city" type="text" placeholder="Cidade...">
    <input id="price" name="price" type="text" placeholder="Valor...">
    <button type="submit">Salvar</button>
  </form>
</body>

</html>